/* Highlights (in jumbotron in most cases) */
.highlight {
    margin-top: 40px;
  
    .h-caption {
      text-align: center;
  
      i {
        display: block;
        font-size: 54px;
        color: #382526;
        margin-bottom: 36px;
      }
  
      h4 {
        color: #382526;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
  
    .h-body {
      padding: 2px;
    }
  }
  