/* Header */
#head {
    background: #181015 url(../images/bg_header.jpg) no-repeat;
    background-size: cover;
    min-height: 520px;
    text-align: center;
    padding-top: 240px;
    color: white;
    font-weight: 300;
  
    &.secondary {
      height: 100px;
      min-height: 100px;
      padding-top: 0px;
    }
  
    .lead {
      font-size: 44px;
      margin-bottom: 6px;
      color: white;
      line-height: 1.15em;
    }
  
    .tagline {
      color: rgba(255, 255, 255, 0.75);
      margin-bottom: 25px;
  
      a {
        color: #fff;
      }
    }
  
    .btn {
      margin-bottom: 10px;
  
      &.btn-default {
        text-shadow: none;
        background: transparent;
        color: rgba(255, 255, 255, .5);
        box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .5);
  
        &:hover,
        &:focus {
          color: rgba(255, 255, 255, .8);
          box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .8);
          background: transparent;
        }
  
        &:active,
        &.active {
          color: #fff;
          box-shadow: inset 0px 0px 0px 3px #fff;
          background: transparent;
        }
      }
    }
  }
  
  @media (max-width: 720px) {
    #head {
      min-height: 420px;
      padding-top: 160px;
    }
  
    .lead {
      font-size: 34px;
    }
  }
  