/* Sidebars */
.sidebar {
    padding-top: 36px;
    padding-bottom: 30px;

    .widget {
        margin-bottom: 20px;
    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3 {
        margin-top: 20px;
    }
}